@using Web.Models
@using Web.Models.ViewModels
@model ProductVM

<form method="post">
    <div class="border p-4 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Create Product</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Products.Title"></label>
            <input asp-for="Products.Title" class="form-control" />
            <span asp-validation-for="Products.Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Products.Description"></label>
            <textarea asp-for="Products.Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Products.Description" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Products.ISBN"></label>
                <input asp-for="Products.ISBN" class="form-control" />
                <span asp-validation-for="Products.ISBN" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.Author"></label>
                <input asp-for="Products.Author" class="form-control" />
                <span asp-validation-for="Products.Author" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.ListPrice"></label>
                <input asp-for="Products.ListPrice" class="form-control" />
                <span asp-validation-for="Products.ListPrice" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Products.Price"></label>
                <input asp-for="Products.Price" class="form-control" />
                <span asp-validation-for="Products.Price" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.Price50"></label>
                <input asp-for="Products.Price50" class="form-control" />
                <span asp-validation-for="Products.Price50" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.Price100"></label>
                <input asp-for="Products.Price100" class="form-control" />
                <span asp-validation-for="Products.Price100" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.CategoryId"></label>
                <Select asp-for="Products.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                    <option disabled selected>-- Select Category --</option>
                   
                </Select>
                <span asp-validation-for="Products.CategoryId" class="text-danger"></span>
            </div>
             <div class="col-md-4 mb-3">
                <label asp-for="Products.ImageUrl"></label>
                <input asp-for="Products.ImageUrl" class="form-control" />
                <span asp-validation-for="Products.ImageUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6">
                <a asp-controller="Products" asp-action="Index" class="btn btn-outline-dark form-control">Back To List</a>
            </div>
        </div>
    </div>
</form>
