@using Web.Models
@using Web.Models.ViewModels
@model ProductVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Products.Id" hidden />
    <input asp-for="Products.ImageUrl" hidden />
    <div class="border p-4 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary" @Model.Products.Id==0 ? "Create" : "Update"> Product</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Products.Title"></label>
            <input asp-for="Products.Title" class="form-control" />
            <span asp-validation-for="Products.Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Products.Description"></label>
            <textarea asp-for="Products.Description" class="form-control" rows="3"></textarea>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Products.ISBN"></label>
                <input asp-for="Products.ISBN" class="form-control" />
                <span asp-validation-for="Products.ISBN" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.Author"></label>
                <input asp-for="Products.Author" class="form-control" />
                <span asp-validation-for="Products.Author" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.ListPrice"></label>
                <input asp-for="Products.ListPrice" class="form-control" />
                <span asp-validation-for="Products.ListPrice" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Products.Price"></label>
                <input asp-for="Products.Price" class="form-control" />
                <span asp-validation-for="Products.Price" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.Price50"></label>
                <input asp-for="Products.Price50" class="form-control" />
                <span asp-validation-for="Products.Price50" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.Price100"></label>
                <input asp-for="Products.Price100" class="form-control" />
                <span asp-validation-for="Products.Price100" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.CategoryId"></label>
                <Select asp-for="Products.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                    <option disabled selected>-- Select Category --</option>

                </Select>
                <span asp-validation-for="Products.CategoryId" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Products.ImageUrl"></label>
                <input type="file" name ="file" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
                <img src="@Model.Products.ImageUrl" alt="Product Image" style="max-height: 200px; max-width: 200px;" />
            </div>
        </div>

        <div class="row">
            @if (@Model.Products.Id == 0)
            {
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
            }
            else
            {
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
            }

            <div class="col-6">
                <a asp-controller="Products" asp-action="Index" class="btn btn-outline-dark form-control">Back To
                    List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Jan 18, 2026:
                'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'advtemplate', 'ai', 'uploadcare', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            uploadcare_public_key: '3fgwal5thd4vyo4fg26p80th0er2nwlgmb86ga3tiskqp47m',
        });
    </script>
}